body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.gridster ul, .gridster ol {
    list-style: none;
}

.gridster ul li {
    /*background: teal;*/
}

.user-form {
    margin-top: 3px;
}

.file-tabs {
    height: 100%;
}

.file-tabs .file-header {
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: whitesmoke;
    z-index: 100;*/
    padding: 2px;
    background-color: #FAFAFA;
    background-image: -moz-linear-gradient(top, white, #F2F2F2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#F2F2F2));
    background-image: -webkit-linear-gradient(top, white, #F2F2F2);
    background-image: -o-linear-gradient(top, white, #F2F2F2);
    background-image: linear-gradient(to bottom, white, #F2F2F2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif
}

.file-tabs ul.nav {
    margin-top: 9px;
    width: 100%;
    overflow-x: auto;
    border: 0px;
}

.file-tabs ul.nav li {
    display: table-cell;
    float: none;
    border-top: 1px solid #DDD;
}
.file-tabs ul.nav li.active {
    border-top: 0px;
}

.file-tabs ul.nav li a {
    margin-bottom: 2px;
}

.file-tabs .tab-content {
    height: 100%;
    border: 1px solid #DDD;
    border-top: 0px;
}

.file-tabs pre {
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    background-color: white;
    border: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    line-height: 16px;
    margin: 0px;
    padding: 0px;
    font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif
}
.file-tabs pre span {
    width: 100%;
}

.file-tabs pre span.breakpointset {
    background-color: #FDD;
}

.file-tabs pre span.currentline {
    background-color: #EE9;
}

.file-table td.linenos {
    margin: 0;
    padding-right: 0.5em;
    color: #999;
    font-family: verdana, sans-serif;
    font-size: 0.8em;
    line-height: 16px;
}

.file-table td {
    padding-top: 9px;
}

.file-table td.linenos p {
    margin: 0px;
}
.file-table td.breakpoints p {
    height: 16px;
}

.file-table td.breakpoints a {
    text-decoration: none;
    color: red;
    height: 17px;
}

.file-table td.breakpoints i {
    height: 16px;
}

.stream-window {
    height: 100%;
}

.stream-window .navbar {
    margin-bottom: 0px;
    border: 1px solid #DDD;
    border-bottom: 0px;
}

.stream-window .navbar-inner {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border: 0px;
    height: 24px;
    min-height: 0px;
    padding: 0px;
}

.stream-window .navbar-inner li a {
    line-height: 5px;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.messages-view {
    height: 100%;
    overflow-y: auto;
    clear: both;
    border: 1px solid #DDD;
    border-top: 0px;
}

.stream-input {
    margin-top: 7px;
}

.stream-input textarea {
    margin-bottom: 0px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.message-box {
    border-bottom: 1px solid #DDD;
    display: table;
    width: 100%;
    padding: 5px;
}

.message-box .message-header {
    width: 100%;
    font-size: 10px;
}

.message-box .message-user {
    float: left;
}

.message-box .message-time {
    float: left;
    font-style: italic;
    margin-left: 10px;
}

.message-box .message-content {
    max-width: 100%;
    clear: both;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
}

.message-box .message-content pre {
    padding: 0px;
    margin: 0px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    background-color: white;
    border: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.message-box .message-content pre.output-stderr {
    color: red;
}

.user-form {
    position: relative;
}

.user-form input {
    text-align: right;
    background: transparent;
    border: 0px;
    color: white;
    padding-right: 25px;
}

.user-form input:hover {
    border: 1px;
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.user-form input:focus {
    background: white;
    border: 1px;   
    color: black;
    text-align: left;
}

.user-form .edit-pencil {
    position: absolute;
    right: 5px;
    top: 15px;
    color: white;
    line-height: 0px;
    text-decoration: none
}

.user-form input:focus + .edit-pencil  {
    display: none;
}

.backtrace-table {
    table-layout: fixed;
    width: 100%;
}

.backtrace-table tbody, .backtrace-table tr {
    width: 100%;
}

.backtrace-index {
    width: 30px;
}

.backtrace-file {
}

.breakpoint-table {
    table-layout: fixed;
    width: 100%;
}

.breakpoint-table tbody, .breakpoint-table tr {
    width: 100%;
}

.breakpoint-index {
    width: 50px;
}

.breakpoint-file {
}

.help-sign .popover {
    left: -290px !important;
    width: 320px;
}

.help-sign .popover .arrow {
    position: absolute;
    top: -10px;
    left: 304px;
}

.help-sign td.help-key {
    padding-right: 6px;
}

.navbar .brand {
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar .brand img {
    height: 39px;
}