body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.gridster ul, .gridster ol {
    list-style: none;
}

.gridster ul li {
    /*background: teal;*/
}

.file-tabs {
    height: 100%;
}

.file-tabs ul.nav {
    margin-top: 9px;
}

.file-tabs .tab-content {
    height: 100%;
    border: 1px solid #DDD;
}

.file-tabs .tab-content .tab-pane {
    height: 100%;
}

.file-tabs pre {
    height: 95%;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    background-color: white;
    border: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    line-height: 16px;
    margin: 0px;
    padding: 0px;
    font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif
}
.file-tabs pre span {
    width: 100%;
}

.file-tabs pre span.breakpointset {
    background-color: #FDD;
}

.file-tabs pre span.currentline {
    background-color: #EE9;
}

.file-table td.linenos {
    margin: 0;
    padding-right: 0.5em;
    color: #999;
    font-family: verdana, sans-serif;
    font-size: 0.8em;
    line-height: 16px;
}

.file-table td.linenos p {
    margin: 0px;
}
.file-table td.breakpoints p {
    height: 16px;
}

.file-table td.breakpoints a {
    text-decoration: none;
    color: red;
    height: 17px;
}

.file-table td.breakpoints i {
    height: 16px;
}

.stream-window {
    height: 100%;
    border: 1px solid #DDD;
}

.messages-view {
    height: 100%;
    overflow-y: auto;
}

.stream-input {
    margin-top: 10px;
}

.stream-input textarea {
    margin-bottom: 0px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.message-box {
    border-bottom: 1px solid #DDD;
    display: table;
    width: 100%;
    padding: 5px;
}

.message-box .message-header {
    width: 100%;
    font-size: 10px;
}

.message-box .message-user {
    float: left;
}

.message-box .message-time {
    float: left;
    font-style: italic;
    margin-left: 10px;
}

.message-box .message-content {
    max-width: 100%;
    clear: both;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
}

.message-box .message-content pre {
    padding: 0px;
    margin: 0px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    background-color: white;
    border: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.user-form input {
    text-align: right;
    background: transparent;
    border: 0px;
    color: white;
}

.user-form input:hover {
    border: 1px;
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.user-form input:focus {
    background: white;
    border: 1px;   
    color: black;
    text-align: left;
}

.user-form .edit-pencil {
    color: white;
    line-height: 0px;
    text-decoration: none
}

.backtrace-table {
    table-layout: fixed;
    width: 100%;
}

.backtrace-table tbody, .backtrace-table tr {
    width: 100%;
}

.backtrace-index {
    width: 30px;
}

.backtrace-file {
}

.breakpoint-table {
    table-layout: fixed;
    width: 100%;
}

.breakpoint-table tbody, .breakpoint-table tr {
    width: 100%;
}

.breakpoint-index {
    width: 50px;
}

.breakpoint-file {
}
